le.cssCSS
body {
    background-color: #413D3D;
}
.grid {
    width: 700px;
    height: 500px;
    margin: 0 auto;
    /*background-color: palegoldenrod;*/
    /*background-image: url("2-1-scaled.jpg");*/
    padding: 10px 50px 50px 50px;
    border: 2px solid #cbcbcb;
    border-radius: 100px;

}

.grid h1 {
    font-family: "sans-serif";
    background-color: white;
    font-size: 60px;
    text-align: center;
    color: black;
    padding: 2px 0px;

}

#score {
    color: #01BBFF;
    text-align: center;
    font-size: 30px;
}

.grid #question {
    font-family: "monospace";
    font-size: 30px;
    color: violet;
}

.buttons {
    margin-top: 20px;
    margin-bottom: 20px;

}


#btn0, #btn1,#btn2, #btn3 {
    background-color: hotpink;
    width: 200px;
    height: 110px;
    font-size: 10px;
    color: #fff;
    border: 1px solid #1D3C6A;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: #01BBFF;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}

#progress {
    color: white;
    font-size: 18px;
}
/*.loader {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
/*.loader_bg {*/
/*    position: fixed;*/
/*    z-index: 9999999;*/
/*    background: black;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/
.form1 {
    width: 700px;
    height: 500px;
    margin: 0 auto;
    background-color: paleturquoise;
    /*background-image: url("2-1-scaled.jpg");*/
    padding: 10px 50px 50px 50px;
    border: 2px solid black;
    border-radius: 50px;

}